---
import type { CollectionEntry } from 'astro:content';

type Props = {
  educationSection: CollectionEntry<'educationSection'>;
};

const { educationSection } = Astro.props;
const { order, title, subtitle, timeIndication, description } =
  educationSection.data;
---

<li class="education-section">
  <div class="order">{order}</div>
  <div class="info">
    <h3 class="title">
      {title}
      {subtitle ? <span class="subtitle">{` (${subtitle})`}</span> : ''}
    </h3>
    <p class="description">{description}</p>
    <span class="timeIndication">{timeIndication}</span>
  </div>
</li>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  .education-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: size(3);
    border-right: size(2) solid color(brand, 400);
    transition: all 150ms ease-out;
    padding: 0.5rem 0.8rem;
    background-color: color(neutral, '000');
    border-radius: 0.75rem;

    &:hover,
    .hover {
      box-shadow: $box-shadow-1;
      transform: scale(101%);

      .order {
        transform: scale(106%);
      }
    }

    .order {
      font-size: size(18);
      line-height: 0;
      font-family: Times new Roman;
      transition: transform 300ms ease;
      color: color(brand, 600);
    }

    .title {
      font-size: font-size(400);
      text-transform: uppercase;
      letter-spacing: size(0.25, true);
    }

    .subtitle {
      font-size: font-size(100);
      font-style: italic;
    }

    .timeIndication {
      font-size: font-size(100);
      font-style: italic;
    }

    .description {
      font-size: font-size(300);
    }
  }
</style>
