---
import { Image } from "astro:assets";
import htmlIcon from "../assets/icons/html5.svg"
import cssIcon from "../assets/icons/css3.svg"
import jsIcon from "../assets/icons/javascript.svg"
import tsIcon from "../assets/icons/typescript.svg"
import astroIcon from "../assets/icons/astro.png"

import Case from "./PortfolioCase.astro";

import { astroI18n, t, l } from "astro-i18n";
astroI18n.init(Astro);
---

<section id="portfolio" class="page-section">
	<div class="container flow | my-32">
		<div class="text-center">
			<h2>{t("portfolio.title")}</h2>
			<p>{t("portfolio.subtitle")}</p>
			
		</div>
		<div class="cases-slider">
			<button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>
			<div class="cases-wrapper">
				<div class="cases">
					<Case id="this" title="alexandersandholdt.dk" subtitle="Min personlige hjemmeside" cta={{faIcon:"fa-solid fa-arrow-up-right-from-square",prompt:"Find på GitHub",link:"https://github.com/alex22379/alexandersandholdt.dk"}}>
						<div slot="body">
							<p>Hjemmesiden du sidder på netop nu, er kodet og opbygget fra bunden med frameworket <a href="https://astro.build" target="_blank">Astro</a>.</p>
							<p>Den er skabt med fokus på <i>den enkelte detalje</i>, <i>en effektiv kompetence- og identitsformidling</i> og selvfølgelig også med <i>ydeevne, brugervenlighed og optimering</i> for øje - og dertil en masse kærlighed og omhu.</p>
						</div>
						<div slot="footer" class="thisCase-footer">
							<Image src={htmlIcon} alt="" />
							<Image src={cssIcon} alt="" />
							<Image src={jsIcon} alt="" />
							<Image src={tsIcon} alt="" />
							<Image src={astroIcon} alt="" style="height: 1.2em;" />
						</div>
					</Case>
					<Case id="sop" title="Blockchain i Finanssektoren" subtitle="Afsluttende studieområdeprojekt, HHX" cta={{faIcon:"fa-solid fa-download",prompt:"Download rapporten her",link:"/files/Blockchain%20i%20Finanssektoren.pdf"}} banner="url('/img/nationalbanken.webp')">
						<div slot="body">
							<p>Som led i afslutningen på min HHX, skrev jeg i mit SOP-projekt om Blockchain-teknologiens anvendelse i Finanssektoren i fagene Matematik og Afsætning.</p>
							<p>Det var er udfordrende og spændende område, og indenfor fag der kræver fokus for at få dem til at spille sammen og danne den røde tråd.</p>
							<p>Overordnet set et tilfredsstillende projekt, men selvfølgelig med plads til forbedringspunkter.</p>
						</div>
					</Case>
					<Case id="empty1" title=":)" subtitle="To be continued" />
					<Case id="empty2" title="(:" subtitle="To be continued" />
				</div>
			</div>
			<button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>
		</div>
	</div>
</section>

<style lang="scss">
  @use '../styles/abstracts' as *;

	.thisCase-footer {
		display: flex;
		gap: .35em;
		flex-wrap: wrap;
		align-items: center;

		img {
			height: 1.5em;
			width: auto;
		}
	}

	.cases-slider {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: size(4);

		.arrow {
			background: none;
			border: none;
			outline: none;
			cursor: pointer;

			display: none;

			@include mq(lg) {
				display: initial;
			}
		}

		.cases-wrapper {
			overflow: hidden;
			
			.cases {
				display: flex;
				gap: size(4);
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				&::-webkit-scrollbar {
					display: none;
				}
			}
		}	
	}
</style>

<script>
	const cases = document.querySelector('.cases');
	const left = document.querySelector('.left');
	const right = document.querySelector('.right');

	left?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: -200, behavior: 'smooth' });
		//document.querySelector('#case-4')?.scrollIntoView(false, {behavior: 'smooth' });
	});

	right?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: 200, behavior: 'smooth' });
	});
</script>