---
/*

Example usage
<Case id="caseId" title="Example title" subtitle="The above is a title while this is a subtitle" cta={icon:"",prompt:"",link:""}>
	<div slot="body">
		<p>Body</p>
	</div>
	<div slot="footer">
		<p>Footer</p>
	</div>
</Case>
*/

const {
  id,
  title = 'Lorem Ipsum',
  subtitle = 'Lorem ipsum dolor sit amet',
  cta = {
    faIcon: 'fa-solid fa-arrow-up-right-from-square',
    prompt: 'Lorem ipsum dolor',
    link: 'https://www.lipsum.com',
  },
  banner = '/img/denmark.jpg',
} = Astro.props;
---

<div id={`portfolio-${id}`} class="portolio-case | case">
  <slot>
    <div class="banner">
      <div class="background" style={`background-image: url(${banner});`}></div>
    </div>
    <div class="content">
      <div class="header">
        <a class="call-to-action" href={cta.link} target="_blank"
          ><i class:list={['mr-1', cta.faIcon]}></i>{cta.prompt}</a
        >
        <h3 class="title">{title}</h3>
        <p class="subtitle | word-break">{subtitle}</p>
        <hr />
      </div>
      <div class="body">
        <slot name="body"><p>...</p></slot>
      </div>
      <div class="footer">
        <slot name="footer" />
      </div>
    </div>
    <div class="stribe"></div>
  </slot>
</div>

<style lang="scss">
  @use '../styles/abstracts' as *;

  $case-width: 21rem;
  $case-height: 40rem;

  .case {
    scroll-snap-align: start;

    min-width: $case-width;
    min-height: $case-height;

    $banner-height: 31%;
    $stribe-height: 3%;
    $content-height: 100% - ($banner-height + $stribe-height);

    background-color: color(neutral, '000');
    overflow: hidden;
    border-radius: $border-radius-2;

    transition: transform 500ms cubic-bezier(0, 0.93, 0.46, 0.94);
    &:hover,
    &.hover {
      @include mq(lg) {
        transform: translateY(calc(-1 * size(1)));
      }
      .banner {
        .background {
          --case-banner-blur: 0;
          transform: scale(101%);
          opacity: 100%;
          background-color: initial;
          background-blend-mode: initial;
        }
      }
    }

    .banner {
      height: $banner-height;
      overflow: hidden;
      border-radius: $border-radius-1;
      margin: size(1.5) size(1.5) 0 size(1.5);

      .background {
        transition:
          all 350ms ease,
          filter 750ms ease-out,
          opacity 750ms ease-out;

        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 85%;
        background-color: black;
        background-blend-mode: luminosity;

        --case-banner-blur: 0px;
        filter: grayscale(100%), blur(var(--case-banner-blur));
        -webkit-filter: blur(var(--case-banner-blur));
      }
    }

    .content {
      height: $content-height;
      padding: size(1.5) size(3) size(3) size(3);
      display: flex;
      flex-direction: column;

      .header {
        .call-to-action {
          padding-bottom: size(1);
          font-size: font-size(200);
          color: color(brand, 900);
          display: block;
        }

        .title {
          font-size: font-size(500);
        }

        .subtitle {
          text-transform: lowercase;
          font-family: 'Ubuntu Mono', sans-serif;
        }

        hr {
          margin: size(1) 0;
        }
      }

      .body {
        & :global(*) {
          font-size: font-size(300);

          &:not(:first-child) {
            margin-top: size(1.5);
          }
        }
      }

      .footer {
        margin-top: auto;
      }
    }

    .stribe {
      height: $stribe-height;
      background: color(brand, 400);
    }
  }
</style>
