---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
  portfolioCase: CollectionEntry<'portfolioCase'>;
};

const { portfolioCase } = Astro.props;
const { banner, c2a, title, subtitle } = portfolioCase.data;
const { Content } = await portfolioCase.render();
---

<article id={`portfolioCase_${portfolioCase.id}`} class="case">
  <slot>
    <div class="banner-wrapper">
      <img src={banner.src} alt="asd" />
    </div>
    <div class="content">
      <header>
        <a class="call-to-action" href={c2a.url} target="_blank"
          ><i class:list={['mr-1', c2a.faIcon]}></i>{c2a.prompt}</a
        >
        <h3 class="title">{title}</h3>
        <p class="subtitle | word-break">{subtitle}</p>
        <hr />
      </header>
      <div class="body">
        <slot name="body">
          <Content />
        </slot>
      </div>
    </div>
    <div class="stribe"></div>
  </slot>
</article>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  $case-width: 21rem;
  $case-height: 40rem;

  .case {
    scroll-snap-align: start;

    min-width: $case-width;
    min-height: $case-height;

    $banner-height: 31%;
    $stribe-height: size(3);
    $content-height: calc(100% - $banner-height);

    background-color: color(neutral, '000');
    overflow: hidden;
    border-radius: $border-radius-2;
    border-bottom: $stribe-height solid color(brand, 400);

    transition: transform 300ms cubic-bezier(0, 0.93, 0.46, 0.94);
    &:hover,
    &.hover {
      @include mq(lg) {
        transform: translateY(calc(-1 * size(1)));
      }
      .banner-wrapper {
        img {
          --case-banner-blur: 0;
          transform: scale(101%);
          opacity: 100%;
        }
      }
    }

    .banner-wrapper {
      height: $banner-height;
      overflow: hidden;
      border-radius: $border-radius-1;
      margin: size(1.5) size(1.5) 0 size(1.5);

      img {
        transition: all 200ms linear;
        min-width: 100%;
        min-height: 100%;
        opacity: 60%;
      }
    }

    .content {
      height: $content-height;
      padding: size(1.5) size(3) size(3) size(3);
      display: flex;
      flex-direction: column;

      header {
        .call-to-action {
          padding-bottom: size(1);
          font-size: font-size(200);
          color: color(brand, 900);
          display: block;
        }

        .title {
          font-size: font-size(500);
        }

        .subtitle {
          text-transform: lowercase;
          font-family: 'Ubuntu Mono', sans-serif;
        }

        hr {
          margin: size(1) 0;
        }
      }

      .body {
        position: relative;
        height: 100%;
        & :global(*) {
          font-size: font-size(300);

          &:not(:first-child) {
            margin-top: size(1.5);
          }
        }
      }
    }
  }
</style>
